#============================
# Embedding
#============================

# Openai
export OPENAI_EMBEDDING_BASE_URL=""
export OPENAI_EMBEDDING_MODEL_NAME=""
export OPENAI_EMBEDDING_API_KEY=""
export OPENAI_EMBEDDING_DIMENSION=768
export OPENAI_EMBEDDING_MAX_BATCH_SIZE=512
export OPENAI_EMBEDDING_MAX_TOKEN_PER_TEXT=512


#============================
# File Source
#============================

# Aliyun
export ALIYUN_ACCESS_KEY_ID=""
export ALIYUN_ACCESS_KEY_SECRET=""
export ALIYUN_ENDPOINT=""
export ALIYUN_REGION=""
export ALIYUN_BUCKET_NAME=""
export ALIYUN_PRIVATE_KEY_PATH=""
export ALIYUN_PUBLIC_KEY_PATH=""

#============================
# Indexing
#============================

# Elasticsearch
export ES_HOST=""
export ES_PORT=9200
export ES_USERNAME=""
export ES_PASSWORD=""
export ES_SECURE=true

# Milvus
export MILVUS_HOST=""
export MILVUS_PORT=19530
export MILVUS_SECURE=false
export MILVUS_USERNAME=""
export MILVUS_PASSWORD=""
export MILVUS_DATABASE=""

#============================
# LLM
#============================

# OPENAI
export OPENAI_BASE_URL=""
export OPENAI_API_KEY=""
export OPENAI_MODEL_NAME=""

# AZURE OPENAI
export AZURE OPENAI_BASE_URL=""
export AZURE OPENAI_API_KEY=""
export AZURE OPENAI_MODEL_NAME=""

# DEEPSEEK
export DEEPSEEK_BASE_URL=""
export DEEPSEEK_API_KEY=""
export DEEPSEEK_MODEL_NAME=""
